<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla molestias porro deleniti nostrum praesentium corrupti adipisci facilis culpa. Quisquam exercitationem veritatis incidunt perferendis obcaecati fugiat eum dolorem earum sit quasi consequatur illo voluptatum perspiciatis et odio debitis magnam eligendi, vero animi ipsam? At voluptatum fuga recusandae ratione ipsa ad nisi!</p>
    </div>
</section>